.fadeTranslate-enter {
  opacity: 0;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in, transform 500ms ease-in;
  /* position: fixed; */
  /* transform: translate(0, 0); */
}

.fadeTranslate-exit {
  opacity: 1;
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;

  transition: opacity 300ms ease-in, transform 500ms ease-in-out;
}

.fix-container {
}
